body {
  background-color: #000000;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  color: #ffffff; }

h1 {
  text-align: center;
  margin-top: 35vh; }

path {
  stroke: #ffffff;
  fill: #ffffff; }

.dot {
  position: absolute;
  background-color: #ffffff;
  width: 2px;
  height: 2px;
  opacity: .9;
  filter: blur(0.1px);
  border-radius: 50%; }

@keyframes twinkleAnm {
  0% {
    opacity: .2; }
  25% {
    opacity: .2; }
  50% {
    opacity: 1; }
  100% {
    opacity: .2; } }

.twinkle {
  animation-name: twinkleAnm;
  width: 4px;
  height: 4px;
  animation-iteration-count: infinite;
  background-color: #ffe0a2; }

.object {
  animation-name: orb_1;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; }

@keyframes orb_1 {
  from {
    transform: scale(2);
    background: transparent; }
  to {
    transform: scale(4);
    background: transparent; } }

/*CENTERING */
.centering {
  height: 85vh;
  position: relative; }

.centering svg {
  /*border-radius:4px;*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%; }

/*ICON CREDITS*/
.IconCredit {
  color: #ffffff;
  text-align: center; }
  .IconCredit a {
    color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid; }
  .IconCredit a:hover {
    text-decoration: none; }

.footer {
  width: 100%;
  position: absolute;
  height: 2rem;
  bottom: 0;
  margin-left: auto;
  margin-right: auto; }

.FooterSaying {
  color: #ffffff;
  text-align: center; }
  .FooterSaying a {
    color: #ffffff; }

.navbar-inner {
  background: transparent; }

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; }

.active {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.quoteSaying {
  text-align: center; }

.thankful {
  padding: 20vh 0;
  height: 85vh; }
  .thankful h2 {
    text-align: center; }
  .thankful .row {
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh; }
  .thankful input {
    background-color: transparent;
    margin-left: 1vw;
    margin-right: 1vw;
    color: #ffffff; }
