body {
	background-color: $bgColorPage;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	color:$fontColor;
}

h1 {
	text-align: center;
	margin-top: 35vh;
}

path{
	stroke:$fontColor;
	fill:$fontColor;
}