

.container {
    position: relative;
    width: 100%;
    height: 90%;
  }

.FooterSaying{
    position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20;
    a{
        color:$fontColor;
    }
}

