.footer{
  width: 100%;
  position: absolute;
  height: 2rem; 
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.FooterSaying{  
  color:$fontColor;
  text-align: center;
    a{
        color:$fontColor;
    }
}