@import "./variables.scss"; //Importing variables from external file 
@import "./app.scss"; // Importing app styles. The variables can beused because they are imported before.
@import "./background.scss"; // Importing background-component styling
@import "./calm.scss";// Import of calm-component styling
@import "./footer.scss"; //Import footer styling
@import "./nav.scss"; //Import nav styling 